@if (selectedDevice()) {
  <p-card class="flex flex-col gap-4">
    <p>Humidity</p>
    <!--<device-tracker-container-chart
      [y]="selectedDevice.humidityReports.map(tmp => tmp.value)"
      [x]="selectedDevice.humidityReports.map(tmp => dateFormatter.toStringForChart(tmp.timestamp))"
    />
    <p>Temperature</p>
    <device-tracker-container-chart
      [y]="selectedDevice.temperatureReports.map(tmp => tmp.value)"
      [x]="selectedDevice.temperatureReports.map(tmp => dateFormatter.toStringForChart(tmp.timestamp))"
    />-->
  </p-card>

}
