<p-dialog header="Update Home" [modal]="true" [(visible)]="visible" (onHide)="cancel()" [style]="{ width: '50rem' }">
  <form [formGroup]="form" class="flex flex-col gap-4 mb-4 w-full">
    <div class="flex flex-col gap-4">
      <label for="name" class="font-semibold w-24">Name</label>
      <input pInputText type="text" id="name" placeholder="Name" formControlName="name" [invalid]="isInvalid('name')" />
      @if (isInvalid('name')) {
        <p-message severity="error" size="small" variant="simple">Name is required.</p-message>
      }
    </div>
    <div class="flex flex-col gap-4">
      <label for="identifier" class="font-semibold w-24">Identifier</label>
      <input pInputText type="text" id="identifier" placeholder="Identifier" formControlName="identifier" [invalid]="isInvalid('identifier')" />
      @if (hasError('identifier', 'required')) {
        <p-message severity="error" size="small" variant="simple">Identifier is required.</p-message>
      } @else if (hasError('identifier', 'notUnique')) {
        <p-message severity="error" size="small" variant="simple">Identifier is already used.</p-message>
      }
    </div>
  </form>
  <div class="flex justify-between gap-2">
    <p-button icon="pi pi-ban" label="Cancel" severity="secondary" (onClick)="cancel()" />
    <p-button icon="pi pi-check" iconPos="right" label="Save" [disabled]="form.invalid" (onClick)="save()" />
  </div>
</p-dialog>
